
.um-header .um-header-right.abled {
	color: #ccc;
}
.um-list {
	margin-top: 0.2rem;
}
.um-list .um-list-item {
	height: 1rem;
}
.um-list .um-list-item-inner {
	margin-left: 0.38rem;
}
.um-list .um-list-item-left {
	padding: 0;
	font-size: 0.32rem;
	color: #485358;
	height: 1rem;
	line-height: 1rem;
}
.um-list .um-list-item-right {
	height: 1rem;
	line-height: 1rem;
	padding: 0;
	font-size: 0.32rem;
	color: #8899aa;
	padding-right: 0.55rem;
}
.um-list a.um-list-item:before  {
	right: 0.25rem;
	width: 0.2rem;
	height: 0.2rem;
}
.um-list .um-list-item-right {
	text-align: left;
}
.um-list .um-list-item:first-child .um-list-item-left{
	color: #8899aa;
}
.um-list{
	border:none;
}
.um-list:after{
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
}
.um-list .um-list-item-inner:after{
	height:0;
}
.um-list .um-list-item:after{
	border-bottom: 1px solid #ededed;
}